<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saugerties Self Storage</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div>
      <img src="" alt="">
      <nav>
        <a href="/">Home</a>
        <a href="/">Units</a>
        <a href="/">Location</a>
      </nav>
      <button>Rent Now</button>
  </div>
</body>
</html>