@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: rgb(25, 37, 28);
  background: linear-gradient(
    0deg,
    rgba(25, 37, 28, 1) 0%,
    rgba(15, 16, 16, 1) 48%,
    rgba(14, 15, 15, 1) 100%
  );
  padding: 1rem;
}

@layer components {
  .btn-blue {
    @apply bg-emerald-500 hover:bg-emerald-600 text-white text-xl font-bold py-2 px-5 rounded border-2 border-zinc-200;
  }
  .nav-bar {
    @apply text-center bg-white w-full m-0 p-2  ring-2 ring-black/20 shadow-md;
  }
  .nav-link {
    @apply block py-1 text-lg font-semibold hover:text-emerald-800 hover:underline;
  }
  .card {
    @apply border-2 border-zinc-200 text-center rounded bg-white drop-shadow-xl;
  }

  .portal {
    @apply w-screen h-screen;
  }
}
