@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: rgb(14, 14, 22);
  background: linear-gradient(
    180deg,
    rgba(14, 14, 22, 1) 71%,
    rgba(31, 35, 55, 1) 100%
  );
  padding: 1rem;
}

@layer components {
  .btn-blue {
    @apply bg-[#27a9e1] hover:bg-[#9BD5EB] text-white text-xl font-bold py-2 px-5 rounded border-2 border-zinc-200;
  }
  .nav-bar {
    @apply text-center bg-white w-full m-0 p-2  ring-2 ring-black/20 shadow-md;
  }
  .nav-link {
    @apply block py-1 text-lg font-semibold hover:text-[#266EE0] hover:underline;
  }
  .card {
    @apply border-2 border-zinc-200 text-center rounded bg-white drop-shadow-xl;
  }

  .portal {
    @apply w-screen h-screen;
  }
}
